// All avatars are 45x45 by default
img.avatar
{
    width: 45px;
}

form div.required > label:after
{
    content: "*";
    color: red;
}

.dropdown.no-caret
{
    &:hover
    {
        cursor: pointer;
    }
    > .dropdown-toggle::after
    {
        display: none;
    }
}

.text-editor
{
    .menu i:hover
    {
        background: var(--bs-gray-200);
        cursor: pointer;
    }
}

body nav.navbar
{
    li.nav-item
    {
        form
        {
            margin-top: 12px;
        }

        .avatar-wrapper
        {
            &:hover
            {
                cursor: pointer;
            }
            i
            {
                display: none;
                top: 4px;
                left: 16px;
                background: var(--bs-gray);
                color: white;
                font-size: 30px;
                height: 45px;
                width: 45px;
                border-radius: 24px;
                text-align: center;
                padding-left: 3px;

                &:hover i
                {
                    display: block;
                }
            }
        }
    }
}
#sidebar
{
    li
    {
        &.header
        {
            color: $primary;
            font-size: 0.75rem;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 0 1rem;
        }

        a
        {
            color: var(--bs-gray-600);

            &:hover
            {
                color: #000;
            }
        }
    }
}
