body#calendar
{
    .btn-group .btn.active
    {
        color: $primary;
        background-color: white;
        border-color: var(--bs-btn-border-color);
    }

    .calendar-header
    {
        a.previous,
        a.next
        {
            height: 27px;
            width: 27px;
            text-align: center;
            border-radius: 15px;
            margin-top: 6px;

            &:hover
            {
                background: var(--bs-gray-300);
            }
            i
            {
                display: block;
                line-height: 27px;
            }

        }
    }

    div#calendar
    {
        font-family: Arial;
        font-size: 12px;

        div.week-days div.day
        {
            text-align: center;
            color: var(--bs-gray-500);
        }
        div.week-days div.time
        {
            color: var(--bs-gray-500);
            width: 40px;
        }
        div.week
        {
            div.time
            {
                color: var(--bs-gray-500);
                width: 40px;
            }

            div.day
            {
                min-height: 100px;

                &.previous,
                &.next
                {
                    background-image: linear-gradient(
                        135deg, 
                        var(--bs-border-color) 2.78%, 
                        var(--bs-light) 2.78%, 
                        var(--bs-light) 50%, 
                        var(--bs-border-color) 50%, 
                        var(--bs-border-color) 52.78%, 
                        var(--bs-light) 52.78%, 
                        var(--bs-light) 100%);
                    background-size: 18.00px 18.00px;

                    a.day
                    {
                        color: var(--bs-gray-400);
                    }
                }
                &.today
                {
                    background-color: white;
                }
                &:last-of-type
                {
                    border-right: none!important;
                }

                a.add
                {
                    display: none;
                }
                &:hover
                {
                    a.add
                    {
                        display: block;
                    }
                }

                a.day
                {
                    color: var(--bs-gray-500);
                    text-decoration: none;
                    font-weight: bold;
                    display: inline-block;
                    margin-bottom: 5px;
                    height: 18px;
                    width: 18px;
                    text-align: center;
                    border-radius: 15px;

                    &:hover
                    {
                        background: var(--bs-gray-400);
                        color: black;
                    }
                }
                div.event a
                {
                    padding: 2px 6px;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                    height: 22px;
                    margin-bottom: 2px;
                }
            }
            &:last-of-type div.day
            {
                border-bottom: none!important;
            }
        }
    }

    // Create
    form
    {
        input#start,
        input#end
        {
            width: 125px;
        }
    }
}
