#home
{
    .share-box
    {
        .avatar
        {
            width: 30px;
            top: 14px;
            left: 20px;
        }
        input
        {
            padding: 1rem 1rem 1rem 4rem;
        }
    }
}
