#page-header {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 15px 0;
    margin-bottom: 18px;
}
h1, h2, h3, h4, h5 { margin-bottom: 9px; }
p, .alert-message p { margin-bottom: 18px; }
#pending div { margin-left: 20px; }
.alert-message.block-message { background-color: #faffc0; }
.dashboard-links {
    float: left;
    width: 940px;
}
.dashboard-links li {
    float: left;
    margin: 0 5px 10px 0;
}
.dashboard-links li a {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #777;
    display: block;
    font-weight: bold;
    padding: 143px 15px 15px 15px;
    text-align: center;
    width: 151px;
}
/* http://www.webdesignerdepot.com/2009/07/200-free-exclusive-vector-icons-primo/ */
.dashboard-links li.configuration a {
    background: #eee url(../images/configuration.png) center 15px no-repeat;
}
.dashboard-links li.upgrade a {
    background: #eee url(../images/upgrade.png) center 15px no-repeat;
}
.dashboard-links li.members a {
    background: #eee url(../images/members.png) center 15px no-repeat;
}
.dashboard-links li.photogallery a {
    background: #eee url(../images/photogallery.png) center 15px no-repeat;
}
.dashboard-links li.polls a {
    background: #eee url(../images/polls.png) center 15px no-repeat;
}
.dashboard-links li.awards a {
    background: #eee url(../images/awards.png) center 15px no-repeat;
}
.dashboard-links li.scheduler a {
    background: #eee url(../images/scheduler.png) center 15px no-repeat;
}
/* http://www.iconfinder.com/search/?q=iconset%3AWPZOOM_Social_Networking_Icon_Set */
.dashboard-links li.facebook a {
    background: #eee url(../images/facebook.png) center 35px no-repeat;
}
.dashboard-links li.youtube a {
    background: #eee url(../images/youtube.png) center 35px no-repeat;
}
.dashboard-links li.foursquare a {
    background: #eee url(../images/foursquare.png) center 35px no-repeat;
}
.dashboard-links li.instagram a {
    background: #eee url(../images/instagram.png) center 35px no-repeat;
}
.dashboard-links li a:hover {
    background-color: #ddd;
    border-color: #ccc;
    text-decoration: none;
}
table .check {
    width: 50px;
    text-align: center;
}
#navigation-heading {
    display: inline-block;
}
#config .inline-alert {
    margin: 0;
    position: absolute;
    right: 0px;
    top: 45px;
}
#config .alert-message a { margin-left: 10px; }
ol.unstyled {
    list-style: none;
    margin-left: 0;
}
li.sortable {
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: move;
    margin: 0 0 3px 0;
    padding: 2px 10px;
}
.tabs li.action { float: right; }
.tabs li.action a {
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    line-height: 28px;
}
.tabs li.action a:hover { background-position: 0 -15px; }
#search_frm { text-align: center; }
#search_frm input {
    width: 150px;
    margin-right: 5px;
}
#search_frm input[type="button"], #search_frm input[type="submit"] { width: auto; }
.actions .btn { margin-right: 20px; }
.actions .secondary,
.alert-actions .secondary {
    margin-left: 100px;
}
.merge { float: right; }
#merge-form .clearfix { margin: 0 }
#check_all_form li {
    float: left;
    margin: 0 5px 10px 5px;
    text-align: center;
}
#check_all_form label {
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    cursor: hand;
    padding: 15px;
    text-align: center;
    width: auto;
}
#check_all_form label:hover {
    background-color: #eee;
    border: 1px solid #ddd;
}
#check_all_form label.active {
    background-color: #9ccef0;
    border: 1px solid #1a7ab0;
}
#check_all_form label.active:hover { border: 1px solid #000; }
#scheduler-frm td i { color: #aaa; }
.label { padding: 3px 6px; }
