/*
Updated: 28 July 2008
Author: Ryan Haudenschilt
––––––––––––––––––––––––––––––––––––––––––––––––*/ 


/* =RESET
––––––––––––––––––––––––––––––––––––––––––––––––*/ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
a img,img { border:0; }
address,caption,cite,code,em,strong,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:bold; }
abbr,acronym { border:0; }


/* =HACKS
------------------------------------------------*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


/* =LAYOUT
––––––––––––––––––––––––––––––––––––––––––––––––*/ 
body {
	width: 778px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	background: #f6f6f6 url(images/alpha/bg.jpg) top center repeat-y;
}
#header {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	width: 100%; /* safari and opera */
	background: url(images/alpha/header_bg.jpg) repeat-x;
}
#header p {
	float: right;
	margin: 0;
	padding: 55px 10px 0 0;
}
#logo {
	float: left;
	background: transparent url("images/alpha/logo.jpg") no-repeat 0 0;
	display: block;
	width: 300px;
	height: 78px;
	overflow: hidden;
	text-indent: -9000px;
}
#pagetitle { 
	height: 55px;
	font-size: 24px;
	text-align: left;
	color: #f6f6f6;
	padding: 12px 0 0 210px;
	background: #669acc url(images/alpha/pagetitlebg.gif) repeat-x;
}
#leftcolumn {
	margin-top: -35px;
	width: 195px;
	background-color: #f6f6f6;
}
#leftcolumn p {
	padding-left: 12px;
	line-height: 20px;
}
#leftcolumn img { vertical-align: middle; }
#leftcolumn, #content {
	overflow: hidden;
	display: inline-block;
	text-align: left;
	float: left;
}
#content {
	font-size: 12px;
	width: 583px;
	background-color: #fff;
}
#content .centercontent {
	margin: 5px 5px 0 20px;
	padding: 0;
	line-height: 1.7em;
}
#footer {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	text-align: left;
    clear: left;
    border-top: 8px solid #857bb9;
    background-color: #e6eff3;
}
#footer p {
    margin: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.7em;
}


/* =LINKS
––––––––––––––––––––––––––––––––––––––––––––––––*/
a {
	color: #1d70b5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #999;
}
#topmenu {
	clear: left;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #9aaac4 url(images/alpha/bgmenu.gif) repeat-x;
}
#navlist {
	margin: 0;
	padding: 0;
	font-size: 1em;
	background: url(images/alpha/bgmenu.gif) repeat-x;
}
#navlist li {
	list-style-type: none;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
#navlist li span {
	float: left;
	text-align: center;
}
#navlist a {
	display:block;
	float: left;
	width: 128px;
	color: #f1f5f8;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 0 7px 0;
	background: url(images/alpha/bgmenu.gif) repeat-x;
}
#navlist a.firstlastnavmenu { width: 133px; }
#navlist a:hover { background: url(images/alpha/menuover.gif) repeat-x; }
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #dceadd;
}
.menu li {
	line-height:1.2em;
    border-bottom: solid #ffffff; 
    border-width: 1px 0; 
    margin: 1px 0; 
    height: 1%; 
    background-color: #b2d1f0;
}
html>body .menu li { height: auto; }
.menu a {
	width: 100%;
	font-size:12px;
	display: block;
	padding: 3px 0px 3px 5px;
	text-decoration: none; 
}
.menu a:link, .menu a:active, .menu a:visited {
	color: #000; 
	font-size: 1.1em; 
	text-decoration: none; 
	display: block; 
	padding: 3px 0px 3px 19px; 
	background: 7px 0.5em; 
	background-color: #dceadd;
}
.menu li a:hover, .menu li a:active, .menu li a:focus {
	color: #000; 
	background: 7px 0.5em #f0eaba;
}
.pages { 
	padding: 5px 0 10px 0;
	float: right;
}
.pages li {
	list-style-type: none;
	float: left;
}
.pages a {
	display: block;
	height: 25px;
	width: 25px;
	text-align: center;
	margin-right: 2px;
	color: #74a8f5;
	background-color: #ffffff;
	border: 1px solid #74a8f5;
	text-decoration: none;	
}
.pages img { margin: 3px; }
.pages a.current { background-color: #eeeeee; }
.pages a.first { background: transparent url(images/default/first.gif) no-repeat center center; }
.pages a.previous { background: transparent url(images/default/previous.gif) no-repeat center center; }
.pages a.next { background: transparent url(images/default/next.gif) no-repeat center center; }
.pages a.last { background: transparent url(images/default/last.gif) no-repeat center center; }
.pages a:hover {
	color: #fb9622;
	text-decoration: none;	
	border: 1px solid #fb9622;
}
a.ft {
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
a.ft:hover {
	font-weight: bold;
	color: #006699;
	text-decoration: underline;
}
a.u {
	color: #000;
	text-decoration: underline;
}
a.u:hover {
	color: #000;
	text-decoration: none;
}


/* =HEADERS
––––––––––––––––––––––––––––––––––––––––––––––––*/
h1 { font-size: 28px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 10px; }
#leftcolumn h2 { 
	font-size: 11px;
	font-weight: bold;
	background-color: #b2d1f0;
	padding: 5px 5px 5px 12px;
	margin: 0;
}
#leftcolumn h3 { 
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin: 0;
}
#content h1 {
	font-size: 18px;
	margin: 15px 0 40px 0;
}
#content h2 {
	clear: right;
	color: #315c88;
	font-size: 16px;
	font-weight: bold;
	padding: 25px 0 0 0;
	border-bottom:1px solid #ccc;
}
#content h2 a { 
	color: #315c88;
	font-size: 16px;
	font-weight: bold;
}
#content h2.bg {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	background: url(images/default/header_bg.gif) center center repeat-x;
	margin: 0 -10px 0 -20px;
	padding: 15px 0 11px 15px;
}
#content h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}
#content h4, #content h4 a {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	clear: both;
}
#content h5 {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	margin: 0;
	padding: 0;
}


/* =GENERAL
––––––––––––––––––––––––––––––––––––––––––––––––*/
a img { border:none }
p { margin: 3px 0 9px 0; }
ol { padding: 0 0 0 20px; }
form.frm_line, form.frm_line div { display: inline; }
input, textarea { padding: 2px; }
fieldset { padding: 5px; }
#smileys img, #more img { cursor: pointer; }
.top {
	clear: both;
	margin: 10px 0;
	text-align: right;
}
.top a {
	padding: 0 0 0 12px;
	background: transparent url(images/default/top.gif) center left no-repeat;
}
.center { text-align: center; }
.alignright { text-align: right; }
.fleft {float: left; }
.fright {float: right; }
.member {
	padding: 2px 0 2px 18px;
	background:  transparent url(images/default/user.gif) no-repeat center left;
}
.add, .add_address, .home, .export, .add_thread, .add_post, .viewed, .rated, .news, .gal_menu .member { padding: 0 0 0 18px; }
.add { background: transparent url(images/default/add.gif) 0 center no-repeat; }
.add_address { background: transparent url(images/default/book_add.gif) 0 center no-repeat; }
.add_thread { background: transparent url(images/default/new_thread.gif) 0 center no-repeat; }
.add_post { background: transparent url(images/default/board_quote.gif) 0 center no-repeat; }
.home { background: transparent url(images/default/home.gif) 0 center no-repeat; }
.export { background: transparent url(images/default/export.gif) 0 center no-repeat; }
.news { background: transparent url(images/default/new_news.gif) 0 center no-repeat; }
.rated { background: transparent url(images/default/star_small.gif) 0 center no-repeat; }
.viewed { background: transparent url(images/default/view.gif) 0 center no-repeat; }
.gal_menu .member { background: transparent url(images/default/user.gif) 0 center no-repeat; }
.link_block {
	display: block;
	float: left;
	font-size: small;
	margin: 10px 5px 10px 5px;
}
.gal_menu b {
	display: block;
	float: left;
	font-size: small;
	color: #000;
	margin: 10px 5px 0 5px;
}
.link_block_sub {
	display: block;
	float: left;
	font-size: small;
	color: #000;
	margin: 10px 0 0 10px;
}
.info {
	background: #fffbea;
	padding: 5px;
	border: 1px solid #ccc;
}
hr {
	width: 100%;
	height: 1px;
	border: 1px;
	color: #c1c1c1;
	background-color: #c1c1c1;
}


/* =HOME
––––––––––––––––––––––––––––––––––––––––––––––––*/
#content .half {
	float: left;
	width: 50%;
	margin: 0 0 50px 0;
}
#content .half ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px 0;
}
#content .half li {
	background: center left url(images/default/new_grey.gif) no-repeat;
	padding: 0 0 0 25px;
}
#content .half li.new {
	background: center left url(images/default/new.gif) no-repeat;
	padding: 0 0 0 25px;
}
#content .half li span {
	line-height: 10px;
	font-size: 10px;
}
#content .half li small {
	margin: 0 0 0 5px;
}
#content .half .twolines li { padding: 7px 0 3px 25px; }
.poll {
	display: block;
	height: 10px;
	background: transparent url("images/default/poll_bar.gif") repeat-x;
}
.newthread, .newpost, .newaddress, .newnews, .newprayer, .newphoto, .newcom, .newmember { padding: 2px 0 2px 24px; }
.newthread { background: transparent url(images/default/new_thread.gif) no-repeat 0px 4px; }
.newpost, .newcom { background: transparent url(images/default/board_quote.gif) no-repeat 0px 4px; }
.newaddress { background: transparent url(images/default/new_book.gif) no-repeat 0px 4px; }
.newnews { background: transparent url(images/default/new_news.gif) no-repeat 0px 4px; }
.newprayer { background: transparent url(images/default/new_prayer.gif) no-repeat 0px 4px; }
.newphoto { background: transparent url(images/default/board_images.gif) no-repeat 0px 4px; }
.newmember { background:  transparent url(images/default/user.gif) no-repeat 0px 4px; }


/* =MESSAGE =BOARD
––––––––––––––––––––––––––––––––––––––––––––––––*/
#threadlist td, #postlist td { vertical-align: text-top; }
#threadlist { width: 99%; }
#threadlist th {
	font-weight: bold;
	height: 30px;
	background-color: #fff;
	border-bottom: 1px solid #c1c1c1;
}
#threadlist td {
	padding: 5px 0 25px 0;
	border-bottom: 1px solid #c1c1c1;
}
#threadlist a.u { font-size: 7pt; }
#threadlist .alt { background-color: #f5f5f5; }
#threadlist .announcement { background-color: #eee; }
#threadlist .images { width: 30px; }
#threadlist .images .today, .images .yesterday, .images .announcement, .images .announcement_today, .images .announcement_yesterday { margin: 0 0 0 4px; }
#threadlist .images .today { background: url(images/default/today.gif) no-repeat top left; }
#threadlist .images .yesterday { background: url(images/default/yesterday.gif) no-repeat top left; }
#threadlist .images .announcement_today { background: url(images/default/announcement_today.gif) no-repeat top left; }
#threadlist .images .announcement_yesterday { background: url(images/default/announcement_yesterday.gif) no-repeat top left; }
#threadlist .images .announcement { background: url(images/default/announcement.gif) no-repeat top left; }
#threadlist .replies {
	text-align: center;
	padding-right: 5px;
}
#threadlist .views {
	text-align: center;
	padding-right: 20px;
}
#postlist {
	width: 99%;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}
#postlist .alt .side, #postlist .alt .subject { background-color: #b2d1f0; }
#postlist .side {
	font-size: 14px;
	width: 150px;
	margin: 0 auto;
	padding: 5px 5px 30px 3px;
	text-align: center;
	background-color: #dceadd;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #666;
}
#postlist .side b { display: block; }
#postlist .side a {
	color: #000;
	text-decoration: underline;
}
#postlist .side a:hover { text-decoration: none; }
#postlist .post { border-bottom: 1px solid #666; }
#postlist .subject div, #postlist .subject form, .frm_inline, .frm_inline div { display: inline; }
#postlist .subject {
	padding: 5px;
	font-size: 12px;
	background-color: #dceadd;
	border-bottom: 1px solid #c1c1c1;
}
#postlist .msg { padding: 15px 15px 30px 15px; }
#messageboard .msg h1, #messageboard .msg h2, #messageboard .msg h3, #messageboard .msg h4, #messageboard .msg h5, #messageboard .msg h6 {
	color: #000;
	margin: 0;
	padding: 7px 0;
	border: none;
}
#messageboard .msg h1 { font-size: 30px; line-height: 30px; }	
#messageboard .msg h2 { font-size: 24px; line-height: 24px; }
#messageboard .msg h3 { font-size: 18px; line-height: 18px; }
#messageboard .msg h4 { font-size: 12px; line-height: 12px; }
#messageboard .msg h5 { font-size: 10px; line-height: 10px; text-align: left; }
#messageboard .msg h6 { font-size: 9px; line-height: 10px; }
.del_thread {
	padding: 2px 0 2px 18px;
	background: transparent url(images/default/delete.gif) no-repeat center left;
}
.edit_thread {
	padding: 2px 0 2px 18px;
	background: transparent url(images/default/edit.gif) no-repeat center left;
}
.hot {
	padding: 0 0 0 25px;
	background:  transparent url(images/default/hot_thread.gif) no-repeat center left;
}
span.q {
	margin: 0 25px 10px 25px;
	font-style: italic
}
blockquote {
	border: 1px solid #c1c1c1;
	background: url(images/default/quote.gif) no-repeat 2px 0px;
	margin: 0 25px;
	padding: 5px 0 5px 30px;
}
.award {
	width: 10px;
	height: 19px;
	margin: 0 auto;
}
.boardtop5 { background: transparent url(images/default/award_top5.gif) no-repeat center center; }
.boardtop5gold { background: transparent url(images/default/award_top5gold.gif) no-repeat center center; }
.phototop5 { background: transparent url(images/default/award_phototop5.gif) no-repeat center center; }
.phototop5gold { background: transparent url(images/default/award_phototop5gold.gif) no-repeat center center; }
.smileys { background: transparent url(images/default/award_mostsmileys.gif) no-repeat center center; }
.threadstarter { background: transparent url(images/default/award_topthread.gif) no-repeat center center; }
.topviewedphoto { background: transparent url(images/default/award_mostviewedphoto.gif) no-repeat center center; }


/* =PHOTO =GALLERY
––––––––––––––––––––––––––––––––––––––––––––––––*/
#gallery { margin: 0 auto 50px auto; }
#gallery .gal_row, #profile .gal_row {
	clear: both;
	border-bottom: 1px solid #c1c1c1;
}
#gallery .cat, #profile .cat {
	float: left;
	width: 139px;
	height: 139px;
	text-align: center;
	margin: 10px 0 25px 0;
}
#gallery .cat .cat_name {
	display: block;
	padding-bottom: 3px;
	font-weight: bold;
	line-height: 15px;
}
#gallery .cat .cat_info {
	display: block;
	padding-top: 3px;
	font-size: 9px;
	line-height: 12px;
}
.gallery_cat form, .edit_del_photo form, .edit_del_photo div { display: inline; }
.photo {
	border: 1px solid #c1c1c1;
	padding: 5px;
}
.edit_del_photo {
	margin: 0 auto 10px auto;
	width: 500px;
	text-align: right;
}
.gal_menu, .comment_block {
	margin: 0 auto 15px auto;
	padding: 3px;
	width: 450px;
	border: 1px solid #c1c1c1;
	background-color: #f5f5f5;
}
.comment_block form { margin: 0; }
.comment_block input, .comment_block span {
	float: right;
	padding-right: 5px;
}
.comment_block img {
	display: block;
	float: left;
	margin-right: 5px;
}


/* =ADDRESSBOOK
––––––––––––––––––––––––––––––––––––––––––––––––*/
.addresstoolbar {
	font-size: 9px;
	border: 1px solid #b2d1f0;
}
.address img {
	vertical-align: middle;
	padding-right: 10px;
}
.address { margin: 0 50px; }
.address b.label {
	display: block;
	float: left;
	color: gray;
	font-weight: normal;
	width: 70px;
	text-align: right;
}
.address span.data {
	display: block;
	float: left;
	padding-left: 15px;
}
.address span.data i { color: silver; }
.addressbox form, .addressbox form div { display: inline; }
a.email {
	padding: 0 8px;
	background: transparent url(images/default/email.gif) no-repeat center center;
}
.del_address, .edit_address { padding: 2px 18px 2px 0; }
.del_address { background: transparent url(images/default/book_delete.gif) no-repeat center right; }
.edit_address { background: transparent url(images/default/book_edit.gif) no-repeat center right; }


/* =RECIPES
––––––––––––––––––––––––––––––––––––––––––––––––*/
#recipe .cat_row {
	clear: both;
	padding: 0 0 30px 0;
	
}
#recipe .cat {
	float: left;
	width: 32%;
	text-align: center;
	margin: 10px 0 25px 0;
}


/* =CALENDAR
––––––––––––––––––––––––––––––––––––––––––––––––*/
#big_calendar {
	font-family: verdana;
	font-size: 8pt;
	width: 518px;
	margin: 10px auto 25px auto;
	border-collapse: collapse;
}
#big_calendar h3, #small_calendar h3 {
	text-align: center;
	font-size: 14px;
}
#big_calendar th { height: 50px; }
#big_calendar td {
	padding: 0 0 30px 2px;
	width: 74px;
	border: 1px solid #666;
	vertical-align: top;
	line-height: 10pt;
	overflow: hidden;
}
#big_calendar .weekDays {
	padding: 3px;
	background-color: #b2d1f0;
	text-align: center;
}
#big_calendar .nonMonthDay {
	background-color: #f6f6f6;
}
#big_calendar .add {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9000px;
	background: transparent url("images/default/add.gif") no-repeat 0 0;
}
#small_calendar {
	width: 150px;
	margin: 10px auto 20px auto;
	text-align: center;
	font-family: verdana;
	font-size: 8pt;
}
#small_calendar th { height: 25px; }
#small_calendar td { height: 16px; }
#small_calendar .monthToday { background-color: #b2d1f0; }
.events {
	padding-left: 12px;
	line-height: 18px;
}
dfn {
	font-style: normal;
	cursor: help;
}
.bday {
	padding: 2px 21px 2px 0;
	background:  transparent url(images/default/bday.gif) no-repeat center right;
}
.anniversary {
	padding: 2px 16px 2px 0;
	background:  transparent url(images/default/ann.gif) no-repeat center right;
}
.holiday {
	color: #315c88;
	font-weight: bold;
}
#small_calendar .prev, #big_calendar .prev, #small_calendar .next, #big_calendar .next, #gallery .next {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9000px;
}
#small_calendar .prev, #big_calendar .prev {
	float: left;
	background: transparent url("images/default/previous.gif") no-repeat 0 0;
}
#small_calendar .next, #big_calendar .next {
	float: right;
	background: transparent url("images/default/next.gif") no-repeat 0 0;
}
.caltoolbar .views, .caltoolbar .prints {
	float: left;
	width: 49%;
	font-size: 8pt;
}
.caltoolbar .prints { text-align: right; }
.print {
	padding: 2px 18px 2px 0;
	background: transparent url(images/default/print.gif) no-repeat center right;
}


/* =PROFILE
––––––––––––––––––––––––––––––––––––––––––––––––*/
#profile .rank0, #profile .rank1, #profile .rank2, #profile .rank3, #profile .rank4, #profile .rank5, #profile .rank6, #profile .rank7 { margin: 0; }
#profile .small {
	line-height: 12px;
	font-size: 10px;
}
#side-info {
	float: right;
	width: 195px;
	background-color: #b2d1f0;
}
#side-info div {
	padding: 5px;
	border-bottom: 1px solid #fff;
}
.main-info {
	width: 330px;
	float: left;
	padding: 5px 10px;
	background: #fffbea;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
}
.main-info h2 { margin: 0 0 10px 0; }
.main-info p { margin: 0 0 20px 0; }


/* =ADMIN
––––––––––––––––––––––––––––––––––––––––––––––––*/
#vote .formline, #vote .formline div { display: inline; }
.help {
	padding: 2px 18px 2px 0;
	background: transparent url(images/default/help.gif) no-repeat center right;
}
.helpimg {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9000px;
	background: transparent url("images/default/help.gif") no-repeat 0 0;
}


/* =HELP
––––––––––––––––––––––––––––––––––––––––––––––––*/
.mem-access {
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
}
.mem-access td, .mem-access th {
	text-align: center;
	padding: 4px;
	vertical-align: top;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
}
.mem-access th { font-size: 12px; }
.mem-access td.level_name {
	text-align: left;
	font-weight: bold;
	width: 200px;
}
.mem-access td.y { color: #02876c; }
.mem-access td.n { color: #f30; }


/* =SORTABLE =TABLES
––––––––––––––––––––––––––––––––––––––––––––––––*/
.sortable, .nosortable {
	width: 100%;
	font-size: 10px;
	border-collapse: collapse;
	margin: 0 0 25px 0;
}
.sortable td, .sortable th {
	padding: 0.5em;
	border: 1px solid #b2d1f0;
}
.sortable thead, .sortable tfoot { background-color: #b2d1f0; }
.sortable tr.rowodd { }
.sortable tr.roweven { background-color: #f2f8fd; }
.sortable .sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortable .sortasc {
	background-color: #f2f8fd;
	background-image: url("images/default/up.gif");
}
.sortable .sortdesc {
	background-color: #f2f8fd;
	background-image: url("images/default/down.gif");
}
.sortable .nosort { cursor: default; }


/* =ROUNDED =CORNERS
––––––––––––––––––––––––––––––––––––––––––––––––*/
.rounded-box { display: block }
.rounded-box * {
	display: block;
	height: 1px;
	overflow: hidden;
	font-size: .01em;
	background: #dceadd
}
.rounded-box1 {
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 1px;
	padding-right: 1px;
	border-left: 1px solid #eff5f0;
	border-right: 1px solid #eff5f0;
	background: #e4efe5
}
.rounded-box2 {
	margin-left: 1px;
	margin-right: 1px;
	padding-right: 1px;
	padding-left: 1px;
	border-left: 1px solid #fbfcfb;
	border-right: 1px solid #fbfcfb;
	background: #e2ede3;
}
.rounded-box3 {
	margin-left: 1px;
	margin-right: 1px;
	border-left: 1px solid #e2ede3;
	border-right: 1px solid #e2ede3;
}
.rounded-box4 {
	border-left:1px solid #eff5f0;
	border-right:1px solid #eff5f0;
}
.rounded-box5 {
	border-left: 1px solid #e4efe5;
	border-right: 1px solid #e4efe5;
}
.rounded-boxfg {
	background: #dceadd;
	padding: 1px 15px;
}


/* =BUTTONS =TOOLBARS
––––––––––––––––––––––––––––––––––––––––––––––––*/
.delbtn, .editbtn, .quotebtn, .viewbtn, .book_delbtn, .book_editbtn, .gal_delcombtn, .gal_addcombtn, .gal_editbtn, .gal_delbtn {
	border: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.delbtn { background: transparent url("images/default/delete.gif") top left no-repeat; }
.editbtn { background: transparent url("images/default/edit.gif") top left no-repeat; }
.quotebtn { background: transparent url("images/default/board_quote.gif") top left no-repeat; }
.viewbtn { background: transparent url(images/default/view.gif) top left no-repeat;	}
.book_delbtn { background: url("images/default/book_delete.gif") top left no-repeat; }
.book_editbtn { background: url("images/default/book_edit.gif") top left no-repeat; }
.gal_delcombtn { background: url("images/default/comments_delete.gif") top left no-repeat; }
.gal_addcombtn { background: url("images/default/comments_add.gif") top left no-repeat; }
.gal_delbtn { background: url("images/default/image_delete.gif") top left no-repeat; }
.gal_editbtn { background: url("images/default/image_edit.gif") top left no-repeat; }
/* Changin the Font Family or Size will mess up the toolbar */
#upload_img, .toolbar {
	padding: 2px;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #c1c1c1;
	background-color: #f6f6f6;
	color: #c1c1c1;
	width: 520px;
}
.toolbar .button {
	margin: 0 0 0 -3px;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #f6f6f6;
	cursor: pointer;
}
.toolbar .color {
	margin: -2px 0 2px -4px;
	padding: 0px;
	border: 1px solid #000000;
	height: 16px;
	width: 15px;
	vertical-align: middle;
	cursor: pointer;
}
.bold { background: url("images/default/text_bold.gif") top left no-repeat; }
.italic { background: url("images/default/text_italic.png") top left no-repeat; }
.underline { background: url("images/default/text_underline.png") top left no-repeat; }
.left_align { background: url("images/default/text_left.png") top left no-repeat; }
.center_align { background: url("images/default/text_center.png") top left no-repeat; }
.right_align { background: url("images/default/text_right.png") top left no-repeat; }
.h1 { background: url("images/default/text_h1.png") top left no-repeat; }
.h2 { background: url("images/default/text_h2.png") top left no-repeat; }
.h3 { background: url("images/default/text_h3.png") top left no-repeat; }
.board_quote { background: url("images/default/board_quote.gif") top left no-repeat; }
.board_images { background: url("images/default/board_images.gif") top left no-repeat; }
.links { background: url("images/default/board_links.gif") top left no-repeat; }
.aqua { background-color: #00ffff; }
.gray { background-color: #808080; }
.navy { background-color: #000080; }
.silver { background-color: #c0c0c0; }
.black { background-color: #000000; }
.green { background-color: #008000; }
.olive { background-color: #808000; }
.teal { background-color: #008080; }
.blue { background-color: #0000ff; }
.lime { background-color: #00ff00; }
.purple { background-color: #800080; }
.white { background-color: #ffffff; }
.fuchsia { background-color: #ff00ff; }
.maroon { background-color: #800000; }
.red { background-color: #ff0000; }
.yellow { background-color: #ffff00; }


/* =VALIDATION
––––––––––––––––––––––––––––––––––––––––––––––––*/
.LV_valid {
	font-size: 9pt;
	padding-left: 10px;
	font-weight: bold;
	color: #0c0;
}
.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active { border: 1px solid #0c0; }
.LV_invalid {
	display: block;
	font-size: 9pt;
	font-weight: bold;
	color : #c00;
}
.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active { border: 1px solid #c00; }
.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #f30;
	color : #fff;
	font-weight: bold;
}
.field-row {
	clear: both;
	margin: 10px 0;
}
.field-label {
	float: left;
	width: 150px;
}
.field-widget {
	float: left;
	width: 390px;
}
.error-alert, .info-alert, .ok-alert {
	text-align: left;
	padding: 5px 20px 5px 45px;
	margin: 50px 1%;
}
.error-alert {
	background: #fff6bf url("images/default/error.gif") center no-repeat;
	background-position: 15px 50%;
	border-top: 2px solid #fb9622;
	border-bottom: 2px solid #fb9622;
}
.error-alert a:link, .error-alert a:visited { color: #000000; }
.info-alert {
	background: #dbe9fd url("images/default/information.gif") center no-repeat;
	background-position: 15px 50%;
	border-top: 2px solid #74a8f5;
	border-bottom: 2px solid #74a8f5;
}
.ok-alert {
	background: #f2fae7 url("images/default/ok.gif") center no-repeat;
	background-position: 15px 50%;
	border-top: 2px solid #85c329;
	border-bottom: 2px solid #85c329;
}


/* =STAR =RATING
––––––––––––––––––––––––––––––––––––––––––––––––*/
.star-rating{
	position: relative;
	width: 125px;
	height: 25px;
	overflow: hidden;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	background-position: left top;
}
.star-rating li { display: inline; }
.star-rating a, .star-rating .current-rating {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000em;
	height: 25px;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border:  none;
}
.star-rating a:hover, .star-rating a:active, .star-rating a:focus { background-position: left bottom; }
.star-rating a.one-star {
	width: 20%;
	z-index: 6;
}
.star-rating a.two-stars {
	width: 40%;
	z-index: 5;
}
.star-rating a.three-stars {
	width: 60%;
	z-index: 4;
}
.star-rating a.four-stars {
	width: 80%;
	z-index: 3;
}
.star-rating a.five-stars {
	width:100%;
	z-index: 2;
}
.star-rating .current-rating {
	z-index: 1;
	background-position: left center;
}
.inline-rating {
	display: -moz-inline-block;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
}
.small-star{
	width: 50px;
	height: 10px;
}
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
	background-image: url(images/default/star_small.gif);
	line-height: 10px;
	height: 10px;
}


/* =RANKS
––––––––––––––––––––––––––––––––––––––––––––––––*/
.rank0, .rank1, .rank2, .rank3, .rank4, .rank5, .rank6, .rank7 {
	display: block;
	width: 50px;
	height: 10px;
	margin: 0 auto 12px auto;
}
.rank0 { background: transparent url(images/default/rank0.gif) no-repeat center center; }
.rank1 { background: transparent url(images/default/rank1.gif) no-repeat center center; }
.rank2 { background: transparent url(images/default/rank2.gif) no-repeat center center; }
.rank3 { background: transparent url(images/default/rank3.gif) no-repeat center center; }
.rank4 { background: transparent url(images/default/rank4.gif) no-repeat center center; }
.rank5 { background: transparent url(images/default/rank5.gif) no-repeat center center; }
.rank6 { background: transparent url(images/default/rank6.gif) no-repeat center center; }
.rank7 { background: transparent url(images/default/rank7.gif) no-repeat center center; }