/*
Updated: 29 July 2008
Author: Ryan Haudenschilt
––––––––––––––––––––––––––––––––––––––––––––––––*/ 


/* =RESET
––––––––––––––––––––––––––––––––––––––––––––––––*/ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
a img,img { border:0; }
address,caption,cite,code,em,strong,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:bold; }
abbr,acronym { border:0; }


/* =HACKS
------------------------------------------------*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


/* =LAYOUT
––––––––––––––––––––––––––––––––––––––––––––––––*/ 
html { background: #9ccef0 url(images/default/bg.png) repeat-x; }
body {
	width: 90%;
	margin: 0 auto;
	font: 16px/160% Verdana, Arial, sans-serif;
	color: #333;
	background-color: #fff;
}
#header {
	float: left;
	padding: 30px 0;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	font-size: 12px;
	width: 100%; /* safari and opera */
	background: #9ccef0 url(images/default/bg.png) repeat-x;
}
#header div {}
#header p {
	float: right;
	padding: 55px 10px 0 0;
}
#logo {
	float: left;
	background: transparent url("images/default/logo.gif") no-repeat 0 0;
	display: block;
	width: 460px;
	height: 100px;
	overflow: hidden;
	text-indent: -9000px;
}
#pagetitle {
	float: right;
	font-size: 50px;
	font-weight: bold;
	color: #e7e7e7;
	padding: 20px 15px 20px 0;
}
#leftcolumn {
	width: 20%;
	font-size: 13px;
}
#leftcolumn p { padding-left: 20px; }
#leftcolumn img { vertical-align: middle; }
#leftcolumn, #content {
	overflow: hidden;
	display: inline-block;
	text-align: left;
	float: left;
}
#content { width: 79%; }
#content .centercontent {
	margin: 5px 0 0 20px;
	padding: 0;
	line-height: 1.7em;
}
#footer {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	text-align: left;
    clear: left;
	margin: 100px 0 0 0;
    border-top: 8px solid #b2d1f0;
    background-color: #fff;
}
#footer p {
    margin: 20px;
    text-align: center;
}


/* =LINKS
––––––––––––––––––––––––––––––––––––––––––––––––*/
a {
	color: #02876c;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #000;
	background-color: #9ccef0;
}
#header a { color: #fff; }
#header a:hover { color: #000; }
#topmenu {
	clear: left;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 12px;
	background-color: #000;
}
#navlist li {
	list-style-type: none;
	float: left;
}
#navlist li span {
	float: left;
	text-align: center;
}
#navlist a {
	display: block;
	float: left;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 30px;
}
#navlist a:hover {
	color: #000;
	background-color: #9ccef0;
}
.menu ul {
	margin: 0 0 0 10px;
	list-style-type: none;
	background-color: #d8e9f8;
}
.menu li {
	line-height: 1.2em;
    border-bottom: 1px solid #a4cae8; 
    height: 1%; 
    background-color: #d8e9f8;
}
html>body .menu li { height: auto; }
.menu a {
	width: 100%;
	display: block;
	font-size: 8pt;
	font-weight: bold;
	padding: 3px 0px 3px 5px;
	text-decoration: none; 
}
.menu a:link, .menu a:active, .menu a:visited {
	color: #0f55c3; 
	text-decoration: none; 
	display: block; 
	padding: 3px 0px 3px 19px; 
	background: 7px 0.5em; 
	background-color: #d8e9f8;
}
.menu li a:hover, .menu li a:active, .menu li a:focus {
	background: 7px 0.5em #ebf2fa;
}
.pages {
	padding: 5px 0 10px 0;
	float: right;
}
.pages li {
	list-style-type: none;
	float: left;
}
.pages a {
	display: block;
	height: 30px;
	width: 25px;
	text-align: center;
	margin-right: 2px;
	color: #000; 02876c
	background-color: #fff;
	border: 1px solid #000;
	text-decoration: none;	
}
.pages img { margin: 3px; }
.pages a.current { background-color: #f2f8fd; }
.pages a.first { background: transparent url(images/default/first.gif) no-repeat center center; }
.pages a.previous { background: transparent url(images/default/previous.gif) no-repeat center center; }
.pages a.next { background: transparent url(images/default/next.gif) no-repeat center center; }
.pages a.last { background: transparent url(images/default/last.gif) no-repeat center center; }
.pages a:hover {
	color: #000;
	background-color: #d8e9f8;
	text-decoration: none;
	border: 1px solid #b2d1f0;
}
a.u {
	color: #000;
	font-weight: normal;
	text-decoration: underline;
}
a.u:hover {
	color: #000;
	text-decoration: none;
}



/* =HEADERS
––––––––––––––––––––––––––––––––––––––––––––––––*/
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
#leftcolumn h2 {
	font-size: 10pt;
	background-color: #9ccef0;
	padding: 5px 5px 5px 12px;
	margin: 10px 0 0 10px;
}
#leftcolumn h3 { padding: 10px 0 0 10px; }
#content h1 { margin: 15px 0 40px 0; }
#content h2 {
	clear: right;
	color: #000;
	padding: 25px 0 10px 0;
}
#content h2 a { color: #315c88; }
#content h2.bg {
	color: #fff;
	background: url(images/default/header_bg.gif) center center repeat-x;
	padding: 15px 0 11px 15px;
}
#content h4, #content h4 a { color: #000; }
#content h5 {
	color: #000;
	text-align: right;
}


/* =GENERAL
––––––––––––––––––––––––––––––––––––––––––––––––*/
p { margin: 10px 0 20px 0; }
ol { padding: 0 0 0 20px; }
form.frm_line, form.frm_line div { display: inline; }
input, textarea {
	padding: 2px;
	margin-right: 5px;
}
fieldset { padding: 20px; }
legend { font-size: 20px; }
.center { text-align: center; }
.alignright { text-align: right; }
.fleft {float: left; }
.fright {float: right; }
.info {
	background: #fffbea;
	padding: 5px;
	border: 1px solid #ccc;
}
hr {
	width: 100%;
	height: 1px;
	border: 1px;
	color: #b2d1f0;
	background-color: #b2d1f0;
}
.top {
	clear: both;
	margin: 10px 0;
	text-align: right;
}
.top a {
	padding: 0 0 0 12px;
	background: transparent url(images/default/top.gif) center left no-repeat;
}
.member {
	padding: 2px 0 2px 18px;
	background:  transparent url(images/default/user.gif) no-repeat center left;
}
.add, .add_address, .home, .export, .add_thread, .add_post, .viewed, .rated, .news, .gal_menu .member { padding: 0 10px 0 30px; }
.add { background: #d8e9f8 url(images/default/add.gif) 10px center no-repeat; }
.add_address { background: #d8e9f8 url(images/default/book_add.gif) 10px center no-repeat; }
.add_thread { background: #d8e9f8 url(images/default/new_thread.gif) 10px center no-repeat; }
.add_post { background: #d8e9f8 url(images/default/board_quote.gif) 10px center no-repeat; }
.home { background: #d8e9f8 url(images/default/home.gif) 10px center no-repeat; }
.export { background: #d8e9f8 url(images/default/export.gif) 10px center no-repeat; }
.news { background: #d8e9f8 url(images/default/new_news.gif) 10px center no-repeat; }
.rated { background: #d8e9f8 url(images/default/top_rated.gif) 10px center no-repeat; }
.viewed { background: #d8e9f8 url(images/default/view.gif) 10px center no-repeat; }
.gal_menu .member { background: #d8e9f8 url(images/default/user.gif) 10px center no-repeat; }
.link_block {
	display: block;
	float: left;
	font-size: small;
	background-color: #d8e9f8;
	color: #000;
	margin: 0 5px 0 0;
}
.link_block:hover { background-color:#9ccef0; }
.gal_menu b {
	display: block;
	float: left;
	font-size: small;
	color: #000;
	margin: 10px 5px 0 0;
}
.link_block_sub {
	display: block;
	float: left;
	font-size: small;
	background-color: #eee;
	color: #000;
	margin: 10px 5px 0 0;
	padding: 0 10px;
}
.link_block_sub:hover { background-color:#9ccef0; }
.rss {
	margin-right: 20px;
	padding: 0 0 0 18px;
	background: transparent url("images/default/rss.gif") no-repeat 0 0;
}


/* =HOME
––––––––––––––––––––––––––––––––––––––––––––––––*/
#content .half {
	float: left;
	width: 49%;
	margin: 0 0 50px 0;
}
#content .half ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px 0;
}
#content .half li {
	background: 0% 10% url(images/default/new_grey.gif) no-repeat;
	padding: 0 0 10px 25px;
	line-height: 12pt;
}
#content .half li.new {
	background: 0% 10% url(images/default/new.gif) no-repeat;
	padding: 0 0 10px 25px;
	line-height: 12pt;
}
#content .half li a {
	font-size: 12pt;
	line-height: 14pt;
	font-weight: bold;
}
#content .half li span, #content .half li span a {
	font-size: 8pt;
	font-weight: normal;
}
ul.poll { 
	width: 90%;
	margin: 30px auto;
	border-top: 1px solid #eee;
}
ul.poll li {
	position: relative;
	display: block;
	border-bottom: 1px solid #eee;
	_zoom: 1;
}
ul.poll li a {
	display: block;
	color: #2d7bb2;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 10px;
	position: relative;
	z-index: 2;
}
ul.poll li a:hover {
	color: #333;
	background-color: transparent;
}
ul.poll .count {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 0.3em;
	text-align: right;
	color: #999;
	font-weight: bold;
	font-size: 0.875em;
	line-height: 2em;
}
ul.poll .index {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #b8e4f5;
	text-indent: -9999px;
	overflow: hidden;
	line-height: 2em;
}
p.poll {
	text-align: center;
	font-size: 12px;
	font-style: italic;
}
.newthread, .newpost, .newaddress, .newnews, .newprayer, .newphoto, .newcom, .newmember, .newrecipe { padding: 2px 0 2px 24px; }
.newthread { background: transparent url(images/default/new_thread.gif) no-repeat 0px 4px; }
.newpost, .newcom { background: transparent url(images/default/board_quote.gif) no-repeat 0px 4px; }
.newaddress { background: transparent url(images/default/new_book.gif) no-repeat 0px 4px; }
.newnews { background: transparent url(images/default/new_news.gif) no-repeat 0px 4px; }
.newprayer { background: transparent url(images/default/new_prayer.gif) no-repeat 0px 4px; }
.newphoto { background: transparent url(images/default/board_images.gif) no-repeat 0px 4px; }
.newmember { background:  transparent url(images/default/user.gif) no-repeat 0px 4px; }
.newrecipe { background:  transparent url(images/default/new_recipe.gif) no-repeat 0px 4px; }


/* =MESSAGE =BOARD
––––––––––––––––––––––––––––––––––––––––––––––––*/
#threadlist {
	width: 99%;
	border-left: 1px solid #b2d1f0;
	border-right: 1px solid #b2d1f0;	
	border-bottom: 1px solid #b2d1f0;
	margin: 10px 0 25px 0;
}
#threadlist th {
	font-weight: bold;
	height: 30px;
	background-color: #fff;
	border-top: 1px solid #b2d1f0;
}
#threadlist td { padding: 5px 0 25px 0; }
#threadlist td, #postlist td { vertical-align: text-top; }
#threadlist a.u { font-size: 10px; }
#threadlist .alt { background-color: #f2f8fd; }
#threadlist .announcement { background-color: #d8e9f8; }
#threadlist .images { width: 30px; }
#threadlist .images .today, .images .yesterday, .images .announcement, .images .announcement_today, .images .announcement_yesterday { margin: 0 0 0 4px; }
#threadlist .images .today { background: url(images/default/today.gif) no-repeat top left; }
#threadlist .images .yesterday { background: url(images/default/yesterday.gif) no-repeat top left; }
#threadlist .images .announcement_today { background: url(images/default/announcement_today.gif) no-repeat top left; }
#threadlist .images .announcement_yesterday { background: url(images/default/announcement_yesterday.gif) no-repeat top left; }
#threadlist .images .announcement { background: url(images/default/announcement.gif) no-repeat top left; }
#threadlist .replies {
	text-align: center;
	padding-right: 5px;
}
#threadlist .views {
	text-align: center;
	padding-right: 20px;
}
#postlist {
	width: 99%;
	border: 1px solid #b2d1f0;
	margin: 10px 0 10px 0;
}
#postlist .alt .side, #postlist .alt .subject { background-color: #f2f8fd; }
#postlist .side {
	font-size: 14px;
	width: 150px;
	margin: 0 auto;
	padding: 5px 5px 30px 3px;
	text-align: center;
	background-color: #d8e9f8;
	border-right: 1px solid #b2d1f0;
	border-bottom: 1px solid #b2d1f0;
}
#postlist .side b { display: block; }
#postlist .side a {
	color: #000;
	text-decoration: underline;
}
#postlist .side a:hover { text-decoration: none; }
#postlist .post { border-bottom: 1px solid #b2d1f0; }
#postlist .subject {
	padding: 5px;
	font-size: 12px;
	background-color: #d8e9f8;
	border-bottom: 1px solid #b2d1f0;
}
#postlist .msg { padding: 15px 15px 30px 15px; }
#messageboard .msg h1, #messageboard .msg h2, #messageboard .msg h3, #messageboard .msg h4, #messageboard .msg h5, #messageboard .msg h6 {
	color: #000;
	margin: 0;
	padding: 7px 0;
	border: none;
}
#messageboard .msg h1 { font-size: 30px; line-height: 30px; }	
#messageboard .msg h2 { font-size: 24px; line-height: 24px; }
#messageboard .msg h3 { font-size: 18px; line-height: 18px; }
#messageboard .msg h4 { font-size: 12px; line-height: 12px; }
#messageboard .msg h5 { font-size: 10px; line-height: 10px; text-align: left; }
.del_thread {
	padding: 2px 0 2px 18px;
	background: transparent url(images/default/delete.gif) no-repeat center left;
}
.edit_thread {
	padding: 2px 0 2px 18px;
	background: transparent url(images/default/edit.gif) no-repeat center left;
}
.hot {
	padding: 0 0 0 25px;
	background:  transparent url(images/default/hot_thread.gif) no-repeat center left;
}
span.q {
	margin: 0 25px 10px 25px;
	font-style: italic
}
blockquote {
	border: 1px solid #c1c1c1;
	background: url(images/default/quote.gif) no-repeat 2px 0px;
	margin: 0 25px;
	padding: 5px 0 5px 30px;
}
.award {
	width: 10px;
	height: 19px;
	margin: 0 auto;
}
.boardtop5 { background: transparent url(images/default/award_top5.gif) no-repeat center center; }
.boardtop5gold { background: transparent url(images/default/award_top5gold.gif) no-repeat center center; }
.phototop5 { background: transparent url(images/default/award_phototop5.gif) no-repeat center center; }
.phototop5gold { background: transparent url(images/default/award_phototop5gold.gif) no-repeat center center; }
.smileys { background: transparent url(images/default/award_mostsmileys.gif) no-repeat center center; }
.threadstarter { background: transparent url(images/default/award_topthread.gif) no-repeat center center; }
.topviewedphoto { background: transparent url(images/default/award_mostviewedphoto.gif) no-repeat center center; }


/* =PHOTO =GALLERY
––––––––––––––––––––––––––––––––––––––––––––––––*/
#gallery { margin: 0 auto 50px auto; }
#gallery .gal_row, #profile .gal_row { 
	clear: both;
	padding: 0 0 30px 0;
}
#gallery .cat, #profile .cat {
	float: left;
	width: 24%;
	text-align: center;
	margin: 10px 0 25px 0;
}
#gallery .cat .cat_name {
	display: block;
	height: 36px;
	font-weight: bold;
	line-height: 12pt;
}
#gallery .cat .cat_info {
	display: block;
	height: 40px;
	font-size: 7pt;
	line-height: 10pt;
}
.photo {
	border: 1px solid #c1c1c1;
	padding: 7px;
}
.edit_del_photo {
	margin: 0 auto 10px auto;
	width: 500px;
	text-align: right;
}
.gal_menu { padding: 0 0 15px 0; }
.gal_sidemenu {
	padding: 20px 0 20px 20px;
	line-height: 16px;
}
#gallery .breadcrumbs {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.comment_block {
	margin: 0 auto 15px auto;
	padding: 3px;
	width: 90%;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
}
.comment_block form { margin: 0; }
.comment_block input, .comment_block span {
	float: right;
	padding-right: 5px;
}
.comment_block img {
	display: block;
	float: left;
	margin-right: 5px;
}


/* =ADDRESSBOOK
––––––––––––––––––––––––––––––––––––––––––––––––*/
.addresstoolbar { border: 1px solid #b2d1f0;}
.address img {
	vertical-align: middle;
	padding-right: 10px;
}
.address { margin: 0 50px; }
.address b.label {
	display: block;
	float: left;
	color: gray;
	font-weight: normal;
	width: 70px;
	text-align: right;
}
.address span.data {
	display: block;
	float: left;
	padding-left: 15px;
}
.address span.data i { color: silver; }
.addressbox form, .addressbox form div { display: inline; }
a.email {
	padding: 0 8px;
	background: transparent url(images/default/email.gif) no-repeat center center;
}
.del_address, .edit_address { padding: 2px 18px 2px 0; }
.del_address { background: transparent url(images/default/book_delete.gif) no-repeat center right; }
.edit_address { background: transparent url(images/default/book_edit.gif) no-repeat center right; }


/* =RECIPES
––––––––––––––––––––––––––––––––––––––––––––––––*/
#recipe .cat_row {
	clear: both;
	padding: 0 0 30px 0;
	
}
#recipe .cat {
	float: left;
	width: 32%;
	text-align: center;
	margin: 10px 0 25px 0;
}


/* =CALENDAR
––––––––––––––––––––––––––––––––––––––––––––––––*/
#big_calendar {
	width: 658px;
	margin: 10px auto 25px auto;
	border-collapse: collapse;
}
#big_calendar h3, #small_calendar h3 { text-align: center; }
#big_calendar th { height: 50px; }
#big_calendar td {
	padding: 0 0 30px 2px;
	width: 94px;
	border: 1px solid #b2d1f0;
	vertical-align: top;
	line-height: 10pt;
	overflow: hidden;
}
#big_calendar .weekDays {
	padding: 3px;
	background-color: #b2d1f0;
	text-align: center;
	font-weight: bold;
}
#big_calendar .nonMonthDay { background-color: #f2f8fd; }
#big_calendar .add {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9000px;
	background: transparent url("images/default/add.gif") no-repeat 0 0;
}
#small_calendar {
	width: 80%;
	margin: 10px auto 20px auto;
	text-align: center;
	font-size: 12px;
}
#small_calendar th { height: 25px; }
#small_calendar td { height: 16px; }
#small_calendar .monthToday { background-color: #9ccef0; }
.events { padding-left: 20px; }
dfn {
	font-style: normal;
	cursor: help;
}
.bday {
	padding: 2px 21px 2px 0;
	background:  transparent url(images/default/bday.gif) no-repeat center right;
}
.anniversary {
	padding: 2px 16px 2px 0;
	background:  transparent url(images/default/ann.gif) no-repeat center right;
}
.holiday {
	color: #315c88;
	font-weight: bold;
}
#small_calendar .prev, #big_calendar .prev, #small_calendar .next, #big_calendar .next {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9000px;
}
#small_calendar .prev, #big_calendar .prev {
	float: left;
	background: transparent url("images/default/previous.gif") no-repeat 0 0;
}
#small_calendar .next, #big_calendar .next {
	float: right;
	background: transparent url("images/default/next.gif") no-repeat 0 0;
}
.caltoolbar .views, .caltoolbar .prints {
	float: left;
	width: 49%;
	font-size: 8pt;
}
.caltoolbar .prints { text-align: right; }
.print {
	padding: 2px 18px 2px 0;
	background: transparent url(images/default/print.gif) no-repeat center right;
}


/* =PROFILE
––––––––––––––––––––––––––––––––––––––––––––––––*/
#profile .rank0, #profile .rank1, #profile .rank2, #profile .rank3, #profile .rank4, #profile .rank5, #profile .rank6, #profile .rank7 { margin: 0; }
#profile .small {
	line-height: 120%;
}
#side-info {
	float: right;
	width: 30%;
	background-color: #b2d1f0;
}
#side-info div {
	padding: 5px;
	border-bottom: 1px solid #fff;
}
.main-info {
	width: 65%;
	float: left;
	padding: 5px 10px;
	background: #f2f8fd;
	border: 1px solid #b2d1f0;
	margin: 0 0 10px 0;
}
.main-info h2 { margin: 0 0 10px 0; }
.main-info p { margin: 0 0 20px 0; }


/* =ADMIN
––––––––––––––––––––––––––––––––––––––––––––––––*/
.help {
	padding: 2px 18px 2px 0;
	background: transparent url(images/default/help.gif) no-repeat center right;
}
.helpimg {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9000px;
	background: transparent url("images/default/help.gif") no-repeat 0 0;
}
.cfg-sections span {
	display: block;
	float: left;
	width: 200px;
}
.cfg-sections small { color: #ccc; }
.cfg-sections .add {
	padding: 2px 0 2px 20px;
	background: transparent url(images/default/add.gif) no-repeat 0px 4px;
}


/* =HELP
––––––––––––––––––––––––––––––––––––––––––––––––*/
.mem-access {
	border-top: 1px solid #b2d1f0;
	border-left: 1px solid #b2d1f0;
}
.mem-access td, .mem-access th {
	text-align: center;
	padding: 4px;
	vertical-align: top;
	border-right: 1px solid #b2d1f0;
	border-bottom: 1px solid #b2d1f0;
}
.mem-access th { font-size: 12px; }
.mem-access td.level_name {
	text-align: left;
	font-weight: bold;
	width: 200px;
}
.mem-access td.y { color: #02876c; }
.mem-access td.n { color: #f30; }


/* =SORTABLE =TABLES
––––––––––––––––––––––––––––––––––––––––––––––––*/
.sortable, .nosortable {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0 25px 0;
}
.sortable td, .sortable th {
	padding: 0.5em;
	border: 1px solid #b2d1f0;
}
.sortable thead, .sortable tfoot { background-color: #b2d1f0; }
.sortable tr.rowodd { }
.sortable tr.roweven { background-color: #f2f8fd; }
.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #f2f8fd;
	background-image: url("images/default/up.gif");
}
.sortdesc {
	background-color: #f2f8fd;
	background-image: url("images/default/down.gif");
}
.nosort { cursor: default; }


/* =ROUNDED =CORNERS
––––––––––––––––––––––––––––––––––––––––––––––––*/
.rounded-box { display: block }
.rounded-box * {
	display: block;
	height: 1px;
	overflow: hidden;
	font-size: .01em;
	background: #e7e7e7
}
.rounded-box1 {
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 1px;
	padding-right: 1px;
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	background: #ededed
}
.rounded-box2 {
	margin-left: 1px;
	margin-right: 1px;
	padding-right: 1px;
	padding-left: 1px;
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #fcfcfc;
	background: #ebebeb;
}
.rounded-box3 {
	margin-left: 1px;
	margin-right: 1px;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}
.rounded-box4 {
	border-left:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
}
.rounded-box5 {
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
.rounded-boxfg {
	background: #e7e7e7;
	padding: 1px 15px;
}


/* =BUTTONS =TOOLBARS
––––––––––––––––––––––––––––––––––––––––––––––––*/
.delbtn, .editbtn, .quotebtn, .viewbtn, .book_delbtn, .book_editbtn, .gal_delcombtn, .gal_addcombtn, .gal_editbtn, .gal_delbtn {
	border: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.delbtn { background: transparent url("images/default/delete.gif") top left no-repeat; }
.editbtn { background: transparent url("images/default/edit.gif") top left no-repeat; }
.quotebtn { background: transparent url("images/default/board_quote.gif") top left no-repeat; }
.viewbtn { background: transparent url(images/default/view.gif) top left no-repeat;	}
.book_delbtn { background: url("images/default/book_delete.gif") top left no-repeat; }
.book_editbtn { background: url("images/default/book_edit.gif") top left no-repeat; }
.gal_delcombtn { background: url("images/default/comments_delete.gif") top left no-repeat; }
.gal_addcombtn { background: url("images/default/comments_add.gif") top left no-repeat; }
.gal_delbtn { background: url("images/default/image_delete.gif") top left no-repeat; }
.gal_editbtn { background: url("images/default/image_edit.gif") top left no-repeat; }
#smileys img, #more img { cursor: pointer; }
/* Changin the Font Family or Size will mess up the toolbar */
#upload_img, .toolbar {
	padding: 2px;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #c1c1c1;
	background-color: #f6f6f6;
	color: #c1c1c1;
	width: 520px;
}
.toolbar .button {
	margin: 0 0 0 -3px;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #f6f6f6;
	cursor: pointer;
}
.toolbar .color {
	margin: -2px 0 2px -4px;
	padding: 0px;
	border: 1px solid #000000;
	height: 16px;
	width: 15px;
	vertical-align: middle;
	cursor: pointer;
}
.bold { background: url("images/default/text_bold.gif") top left no-repeat; }
.italic { background: url("images/default/text_italic.png") top left no-repeat; }
.underline { background: url("images/default/text_underline.png") top left no-repeat; }
.left_align { background: url("images/default/text_left.png") top left no-repeat; }
.center_align { background: url("images/default/text_center.png") top left no-repeat; }
.right_align { background: url("images/default/text_right.png") top left no-repeat; }
.h1 { background: url("images/default/text_h1.png") top left no-repeat; }
.h2 { background: url("images/default/text_h2.png") top left no-repeat; }
.h3 { background: url("images/default/text_h3.png") top left no-repeat; }
.board_quote { background: url("images/default/board_quote.gif") top left no-repeat; }
.board_images { background: url("images/default/board_images.gif") top left no-repeat; }
.links { background: url("images/default/board_links.gif") top left no-repeat; }
.aqua { background-color: #00ffff; }
.gray { background-color: #808080; }
.navy { background-color: #000080; }
.silver { background-color: #c0c0c0; }
.black { background-color: #000000; }
.green { background-color: #008000; }
.olive { background-color: #808000; }
.teal { background-color: #008080; }
.blue { background-color: #0000ff; }
.lime { background-color: #00ff00; }
.purple { background-color: #800080; }
.white { background-color: #ffffff; }
.fuchsia { background-color: #ff00ff; }
.maroon { background-color: #800000; }
.red { background-color: #ff0000; }
.yellow { background-color: #ffff00; }


/* =VALIDATION
––––––––––––––––––––––––––––––––––––––––––––––––*/
.LV_valid {
	font-size: 13px;
	padding-left: 10px;
	font-weight: bold;
	color: #0c0;
}
.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active { border: 1px solid #0c0; }
.LV_invalid {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color : #c00;
}
.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active { border: 1px solid #c00; }
.field-row {
	width: 100%;
	clear: both;
	margin: 30px 0;
}
.field-label {
	float: left;
	width: 30%;
}
.field-widget {
	float: left;
	width: 69%;
}
.error-alert, .info-alert, .ok-alert {
	text-align: left;
	padding: 5px 20px 5px 45px;
	margin: 50px 1%;
}
.error-alert {
	background: #fff6bf url("images/default/error.gif") center no-repeat;
	background-position: 15px 50%;
	border-top: 2px solid #fb9622;
	border-bottom: 2px solid #fb9622;
}
.error-alert a:link, .error-alert a:visited { color: #000000; }
.info-alert {
	background: #dbe9fd url("images/default/information.gif") center no-repeat;
	background-position: 15px 50%;
	border-top: 2px solid #74a8f5;
	border-bottom: 2px solid #74a8f5;
}
.ok-alert {
	background: #f2fae7 url("images/default/ok.gif") center no-repeat;
	background-position: 15px 50%;
	border-top: 2px solid #85c329;
	border-bottom: 2px solid #85c329;
}


/* =STAR =RATING
––––––––––––––––––––––––––––––––––––––––––––––––*/
.star-rating{
	position: relative;
	width: 125px;
	height: 25px;
	overflow: hidden;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	background-position: left top;
}
.star-rating li { display: inline; }
.star-rating a, .star-rating .current-rating {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000em;
	height: 25px;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border:  none;
	background-color: transparent;
}
.star-rating a:hover, .star-rating a:active, .star-rating a:focus {
	background-color: transparent;
	background-position: left bottom;
}
.star-rating a.one-star { width: 20%; z-index: 6; }
.star-rating a.two-stars { width: 40%; z-index: 5; }
.star-rating a.three-stars { width: 60%; z-index: 4; }
.star-rating a.four-stars { width: 80%; z-index: 3; }
.star-rating a.five-stars { width:100%; z-index: 2; }
.star-rating .current-rating { z-index: 1; background-position: left center; }
.inline-rating {
	display: -moz-inline-block;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
}
.small-star{
	width: 50px;
	height: 10px;
}
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
	background-image: url(images/default/star_small.gif);
	line-height: 10px;
	height: 10px;
}

/* =RANKS
––––––––––––––––––––––––––––––––––––––––––––––––*/
.rank0, .rank1, .rank2, .rank3, .rank4, .rank5, .rank6, .rank7 {
	display: block;
	width: 50px;
	height: 10px;
	margin: 0 auto 12px auto;
}
.rank0 { background: transparent url(images/default/rank0.gif) no-repeat center center; }
.rank1 { background: transparent url(images/default/rank1.gif) no-repeat center center; }
.rank2 { background: transparent url(images/default/rank2.gif) no-repeat center center; }
.rank3 { background: transparent url(images/default/rank3.gif) no-repeat center center; }
.rank4 { background: transparent url(images/default/rank4.gif) no-repeat center center; }
.rank5 { background: transparent url(images/default/rank5.gif) no-repeat center center; }
.rank6 { background: transparent url(images/default/rank6.gif) no-repeat center center; }
.rank7 { background: transparent url(images/default/rank7.gif) no-repeat center center; }