body { text-align: center; background: #9ccef0 url(images/default/bg.png) repeat-x; padding-top: 150px; }
body, h1, #submit, input { font: 14pt Arial; }
#login_box { width: 500px; margin: 0 auto; background-color: #fff; text-align: left; }
#login_header { color: #fff; font-weight: bold; background: #000 url(images/default/login.gif) 15px center no-repeat; padding: 15px 0 15px 50px; }
#reset_header { color: #fff; font-weight: bold; background-color: #000; padding: 15px 0 15px 15px; }
#user { width: 330px; }
#pass { width: 150px; }
label { display: inline-block; width: 100px; }
.rem { width: 140px; }
p, span { margin-left: 30px; }
.center { text-align: center; }
.err-msg { width: 70%; margin: -50px auto 75px auto; }
.err-msg h2 { color: #fff; font-size: 24pt; font-weight: bold; }
#oops { margin: 50px 0 0 0; }
#oops h1 { font-size: 24pt; color: #fff; font-weight: bold; margin-bottom: 40px; }
#oops a { color: #000; text-decoration: underline; }
#oops a:hover { color: #000; text-decoration: none; }
#submit { margin: 10px 0 0 200px; }
#register { text-align: center; background-color: #eee; padding: 10px 0; }
a { color: #02876c; font-weight: bold; text-decoration: none; }
a:hover { color: #000; background-color: #9ccef0; }